* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  margin: 0 auto;
  font-size: 1.6rem;
}

img {
  width: 200px;
}

li {
  list-style: none;
}

.logo {
  width: 33px;
  height: 33px;
  vertical-align: middle;
}

section {
  min-height: 100vh;
}
