* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: whitesmoke;
  margin: 0 auto;
  font-size: 1.6rem;
}

img {
  width: 200px;
}

li {
  list-style: none;
}

.logo {
  width: 33px;
  height: 33px;
  vertical-align: middle;
}

table {
  outline: 1px solid #333;
  border-collapse: collapse;
  margin: 40px auto;
  width: 80%;
}

td {
  padding: 15px;
  margin: 300px;
  border: none;
}

.web-technology {
  width: 80px;
}
