.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.header nav ul {
  margin: 0 auto;
  vertical-align: middle;
  text-align: center;
  padding-top: 22px;
}

.header nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: 30px;
  font-weight: bold;
}

.nav__link:link,
.nav__link:visited {
  color: #3b2b2b;
  transition: all 0.3s ease-in-out;
}

.nav__link:hover,
.nav__link:active {
  color: #111;
}
