.project-section {
  text-align: center;
}

.project-section h2 {
  margin-bottom: 40px;
  color: #000;
}

.hero-project {
  max-width: 350px;
  text-align: start;
  background-color: rgb(243, 146, 0);
  overflow: hidden;
  border-radius: 28px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  color: #fff;
}

.project-summary {
  padding: 10px 20px;
}

.project-image img {
  width: 100%;
  object-fit: cover;
  height: 30vh;
  margin-bottom: 30px;
}

.project-summary h2 {
  font-size: 1.6rem;
  margin-bottom: 15px;
}

.project-summary p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #3b2b2b;
}
